<app-search-student (s)="findStudentByName($event)"></app-search-student>
<h1>List Student</h1>
<table>
  <tr>
    <td>Id</td>
    <td>Name</td>
    <td>Address</td>
    <td>Mark</td>
    <td>Update</td>
    <td>Delete</td>
  </tr>
  <ng-container *ngFor="let student of listStudent; index as i">
    <tr>
      <td>{{student.id}}</td>
      <td>{{student.fullName}}</td>
      <td>{{student.address}}</td>
      <td>{{student.mark}}</td>
      <td><a [routerLink]="['/students/edit',i]">Edit</a></td>
      <td><button (click)="removeStudent(i)">Delete</button></td>
    </tr>
  </ng-container>
</table>
<a routerLink="/students/create">Create new student</a>
