<app-search-student (s)="findStudentByName($event)"></app-search-student>
<h1>List Student</h1>
<table>
  <tr>
    <td>Id</td>
    <td>Name</td>
    <td>Address</td>
    <td>Mark</td>
    <td>Update</td>
    <td>Delete</td>
  </tr>
  <ng-container *ngFor="let student of listStudent; index as i">
    <tr>
      <td>{{student.id}}</td>
      <td>{{student.fullName}}</td>
      <td>{{student.address}}</td>
      <td>{{student.mark}}</td>
      <td><button (click)="showUpdateForm(i)">Update</button></td>
      <td><button (click)="removeStudent(i)">Delete</button></td>
    </tr>
  </ng-container>
</table>
<app-create-student (studentBinding)="addNewStudentToList($event)"></app-create-student>
<app-update-student *ngIf="isShowed" [student]="listStudent[currentIndex]" (newStudent)="updateStudent($event)"></app-update-student>
