<a routerLink="/students">Student list</a>
<form [formGroup]="studentForm" (ngSubmit)="updateStudentInfo(index)">
  <h1> Show Update Form</h1>
  <table>
    <tr>
      <td>Id:</td>
      <td><input type="number" formControlName="id"></td>
      <td *ngIf="id?.errors?.required && id?.touched">Trường này phải được điền</td>
    </tr>
    <tr>
      <td>Name:</td>
      <td><input type="text" formControlName="fullName"></td>
    </tr>
    <tr>
      <td>Address:</td>
      <td><input type="text" formControlName="address"></td>
    </tr>
    <tr>
      <td>Mark:</td>
      <td><input type="number" formControlName="mark"></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" value="Update"></td>
    </tr>
  </table>
</form>
